<h1>Species</h1>
<%= paginate @species, window: 1 %>
<div class="d-grid">
    <% @species.each do |sp| %>
        <article class="card d-col-flex">
            <div class="card-body">
                <h5 class="card-title"><%= link_to sp.name, sp %></h5>
            </div>
        </article>
    <% end %>
</div>
