<div class="container mt-5">
    <h1 class="mb-3">Films</h1>
    <div class="d-grid">
        <% @films.each do |film| %>
            <article class="card d-col-flex">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to "Episode #{film.episode_id}: #{film.title}", film %></h5>
                </div>
            </article>
        <% end %>
    </div>
    <h1 class="mt-5 mb-3">Characters</h1>
    <div class="d-grid mb-auto">
        <% @characters.each do |character| %>
            <article class="card d-col-flex">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to character.name, character %></h5>
                </div>
            </article>
        <% end %>
    </div>
</div>
