<div class="container">
    <h1><%= @character.name %></h1>
    <h6>Homeworld:</h6>
        <ul>
            <li><%= link_to @character.homeworld.name, @character.homeworld %></li>
        </ul>
    <h6>Films:</h6>
        <ul>
            <% @character.films.each do |film| %>
                <li><%= link_to "Episode #{film.episode_id}: #{film.title}", film %></li>
            <% end %>
        </ul>
</div>
