/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';
$star-wars-yellow: #F9D71C;

body{
    background-color: #000;
    color: #FFF;
}

h1{
    color: $star-wars-yellow;
}

a{
    color:$star-wars-yellow;
}

a:hover{
    color: rgb(252, 236, 149);
}

.d-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 3px;
    grid-row-gap: 3px;

    article{
        background-color: #222222;
    }
}

.card-title{
    font-size: 1rem;
}

.d-col-flex{
    display: flex;
    flex-flow: column;
}

.main-nav{
    min-height: 6vh;
    background-color: #222222;

        span{
            color: $star-wars-yellow;
        }
 }